#myInput {
 
  width: 100%; /* 全屏幕显示 */
 
}
 
#myUL {
  /* 移除默认的列表样式 */
  list-style-type: none;
  padding: 0;
  margin: 0;
}
 
#myUL li a {
  border: 1px solid #ddd; /* 链接添加边框 */
  margin-top: -1px; /* 防止边框重复 */
  background-color: #f6f6f6; /* 设置灰色背景 */
  padding: 12px; /* 添加内边距 */
  text-decoration: none; /* 移除默认的下划线 */
  font-size: 18px; /* 设置字体大小 */
  color: black; /* 设置文本为黑色 */
  display: block; /* 以块形式填充到列表 */
}
 
#myUL li a:hover:not(.header) {
  background-color: #eee; /* 为所有链接添加悬停效果，标题除外 */
}