#myInput {
 
  width: 100%; /* 全屏幕显示 */
  
 
}
 
#myUL {
  /* 移除默认的列表样式 */
  list-style-type: none;
  padding: 0;
  margin: 0;
}
 
#myUL li a {
    
 
 width: 50%;
  text-decoration: ; /* 移除默认的下划线 *none/
  font-size: 14px; /* 设置字体大小 */
  color: black; /* 设置文本为黑色 */
  
}
 
#myUL li a:hover:not(.header) {
  background-color: #eee; /* 为所有链接添加悬停效果，标题除外 */
}