<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live2d</title>
    <link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/@fortawesome/fontawesome-free@6/css/all.min.css">
    <script src="http://192.168.31.174:45267/bl/live2d-widget/autoload.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <style>
        body{
            background: url("../image/background.png") !important;;
        }
    </style>

</head>
<body>
<h3 align="center"  style="color: #99CCFF">3行代码 为网站添加萌萌哒看板娘</h3>
<p style="color:#6698cb">展示</p>
<a class="menu-item-archive">归档</a>
</body>
</html>